.main {
  font-family: Sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 5px;
}

.settings > div > input {
  height: 30px;
  width: 80px;
  font-size: 20px;
  border-radius: 7px;
  border: 1px solid black;
}

#save-button {
  font-size: 17px;
  margin-top: 20px;
  height: 35px;
  width: 160px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#save-button:hover {
  box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.75);
}

.auto-start {
  display: flex;
  align-items: center;
}

